.content {
  width: 100%;
  height: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbd7c3;
  background-image: url(../img_2024/bg_hoadao.jpg);
  background-size: cover;


}

#bg {
  /* height: 100vh; */
  background-repeat: no-repeat;
  background-color: #fbd7c3;
  /* background-color: red; */
  background-size: cover;
  background-position: 50%;
}
.items_pic button {
  width: 100px;
  height: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

.items_pic {
  background-color: white;
  border: solid #f76048 5px;
  border-radius: 10px;
  width: 1500px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.title_abc{
  display: flex;
  justify-content: space-between;
}

.title_abc img{
 width: 150px;
 height: 100px;
}


.title_abc h2 {
  flex: 1;
  text-align: center;
  font-family: 'Pacifico';
  color: pink;
  padding-top: 20px;
  
}


.grid-item img {
  width: 200px;
  height: 250px;
  border-radius: 10px;
}

.grid-item:hover .hover_img {
  transform: scale(1.2);
  display: inline;
}

.hover_img {
  position: absolute;
  display: none;
  }

.grid-item {
  cursor: pointer;
  padding-left: 20px;
  padding-top: 20px;
  text-align: center;
}


.grid-item h4 {
  color: red;
  text-align: center;
  font-family: 'Pacifico';
}


#title {
  color: white;
}

.swal2-image {
  object-fit: contain;
}

.swal2-content {
  color: azure !important;
}

.swal2-popup {
  border-radius: 15px !important;
}

header h2 {
  font-family: 'Pacifico';
  font-size: 70px;
  text-align: center;
  margin-top: 30px;
}

header h4 {
  font-family: 'Pacifico';
  text-align: center;
}

@media only screen and (max-width: 500px) {
  header h2 {
    font-family: 'Pacifico';
    font-size: 45px;
    text-align: center;
    margin-bottom: 30px;
  }

  header h4 {
    font-family: 'Pacifico';
    text-align: center;
    padding: 15px;
  }

  #no {
    position: absolute;
    display: inline-block;
    left: 7%;
    top: 40vh;
    font-size: 14px;
    padding: 3px;
    -webkit-transition: all 0.1s ease-out;
  }

  #yes {
    position: absolute;
    display: inline-block;
    left: 58%;
    top: 40vh;
    font-size: 14px;
    padding: 3px;
    -webkit-transition: all 0.3s ease-out;
  }
}

.swal2-backdrop-show {
  background-size: 200px 100px !important;
}


